<div>
<form ng-submit="vm.addMessage()">
<div id="chat" class="chatBox" style="height:310px; overflow-y:scroll">
    <table class="table">
        <tbody>
        <tr ng-repeat="msg in vm.messages ">
            <td><strong>{{msg.sender}} : </strong>

            {{msg.message}}</td>
        </tr>
        </tbody>
    </table>
</div>
    <input type="text" ng-model="vm.message" class="form-control" placeholder="Enter a Message ">
    <button class="btn btn-primary btn-s" type="submit" ng-hide="true">Submit</button>
</form>
</div>