<!-- Warning for unsupported browser usage -->  
<div ng-cloak ng-show="room.noMedia">
    <div class="alert alert-danger" role="alert">Videoübertragung ist nicht möglich, da getUserMedia nicht von ihrem Browser unterstützt wird. Bitte nutzen Sie Chrome oder Firefox!
    </div>
</div>
<div ng-cloak ng-show="room.noCamera">
    <div class="alert alert-danger" role="alert">Es wurde keine Freigabe für die Kamera erteilt. Bitte laden Sie die Seite neu und genehmigen Sie den Zugriff auf ihre Kamera.
    </div>
</div> 

<!-- disable/hide everything when switching to fullscreen -->  
<div ng-hide="room.fs" ng-disable="room.fs">
<!-- Waiting for peer to accept connection -->  
<div ng-show="!room.noMedia">
    <load-spinner name="connectSpinner" show="room.waitAnswer">
        <div class="overlay"></div>
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
        </div>
        <div class="please-wait">Warte auf Antwort...</div>
    </load-spinner>  
</div>

<!-- MAIN Video Elements -->  
<div class="container" ng-cloak ng-show="!room.noMedia">
<div class="row">
    <div class="col-md-8 ">
        <div ng-show="room.hasPeerToCall">
            <button class="btn btn-primary btn-lg center-block" type="button" ng-click="room.startPeerConnection()" ng-disabled="!room.canCall">
                Nutzer anrufen<img src="../asset/2Phone%20Up%20GHOST.png" width="50" class="imgbtn"/>
            </button>
        </div>
        <!-- Remote Video -->  
        <div ng-show="room.inCall">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="remoteVideoR" autoplay class="remoteVideo" poster="../asset/stand.jpg">Kein Video verfügbar! Bitte nutzen Sie einen anderen Browser.</video>
            <button class="btn-img aaa" uib-popover="Auflegen" popover-trigger="'mouseenter'"ng-click="room.hangUp()" ng-disabled="!room.inCall" popover-append-to-body="true"></button>
            <button class="btn-img fs" uib-popover="Maximieren" popover-trigger="'mouseenter'"ng-click="room.goFullScreen()" ng-disabled="!room.inCall" popover-append-to-body="true"></button>
        </div>
        </div>
        <hr>
        <div class="row gradient">
        <div >
            <div ng-hide="!room.gumedia">
                <canvas id="photo"></canvas>
                <canvas id="photoBackup"></canvas>
            </div>
        <!-- Photo Display -->      
        <div class="col-md-3" class="pics" ng-show="room.inCall">
            <p><strong>Screenshot</strong></p>
            <div class="dropdown thumbs" ng-show="room.picReady"> 
            <img ng-src="{{room.snapImg}}" class="img-responsive thumbnail" alt="Screen" width="100" height="100">
            <div class="dropdown-content thumbs-content">
                <img ng-src="{{room.snapImg}}" class="img-responsive thumbnail" alt="Screen" width="640" height="480">
            <div class="desc">Screenshot</div>
            </div>
        </div>
        </div>
        <div class="col-md-9">
        <div id="incoming">
            <p><strong>Erhaltene Bilder:</strong></p>
            <div ng-repeat="nails in room.imgContainer track by $index" ng-switch="$index%4">
                <div class="row" ng-switch-when="0">
                    <div class="col-md-3">
                        <div class="dropdown thumbs"> 
                            <img ng-src="{{room.imgContainer[$index].url}}" class="img-responsive thumbnail">
                        <div class="dropdown-content thumbs-content">
                            <img ng-src="{{room.imgContainer[$index].url}}" class="img-responsive thumbnail">
                            <div class="desc">{{room.imgContainer[$index].time}}</div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown thumbs"> 
                            <img ng-src="{{room.imgContainer[$index+1].url}}" class="img-responsive thumbnail">
                        <div class="dropdown-content thumbs-content">
                            <img ng-src="{{room.imgContainer[$index+1].url}}" class="img-responsive thumbnail">
                            <div class="desc">{{room.imgContainer[$index+1].time}}</div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown thumbs"> 
                            <img ng-src="{{room.imgContainer[$index+2].url}}" class="img-responsive thumbnail">
                        <div class="dropdown-content thumbs-content">
                            <img ng-src="{{room.imgContainer[$index+2].url}}" class="img-responsive thumbnail">
                            <div class="desc">{{room.imgContainer[$index+2].time}}</div>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown thumbs"> 
                            <img ng-src="{{room.imgContainer[$index+3].url}}" class="img-responsive thumbnail">
                        <div class="dropdown-content thumbs-content">
                            <img ng-src="{{room.imgContainer[$index+3].url}}" class="img-responsive thumbnail">
                            <div class="desc">{{room.imgContainer[$index+3].time}}</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
	    </div>
        </div>
    </div>
    <!-- Local Video -->  
    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <video id="localVideoR" autoplay muted controls class="localVideo">Lokales Video konnte nicht initialisiert werden. Bitte nutzen Sie einen anderen Browser.</video>
            <button class="btn btn-img photo" uib-popover="Bild Aufnehmen" popover-trigger="'mouseenter'" ng-click="room.snapPhoto()" ng-disabled="!room.canPhoto" popover-append-to-body="true"></button>
            <button class="btn-img" uib-popover="Bild Verschicken" popover-trigger="'mouseenter'" ng-click="room.sendPhoto()" ng-disabled="!room.picSendReady" popover-append-to-body="true"><span class="glyphicon glyphicon-send"></span></button>
        </div>
        <br>
        <!-- Change Name -->  
        <div class="input-group input-group-lg text-center ff">
            <input type="text" class="form-control" placeholder="Nutzername..." ng-model="room.newName">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="room.setName()" uib-popover="Namen Ändern" popover-trigger="'mouseenter'" popover-append-to-body="true">
                Name
            </button>
            </span>
        </div><!-- input-group -->
        <br>
        <!-- Chat Box -->    
        <div chat-field></div>
    </div><!-- col-md-4 -->
</div><!-- row -->    
</div><!-- container -->
</div><!-- hide if fullscreen -->

<div class="fscreen" ng-show="room.fs">
    <div class="embed-responsive embed-responsive-16by9">
        <button class="btn-img no-fs btn-pad" uib-popover="Minimieren" popover-trigger="'mouseenter'"ng-click="room.goFullScreen(room.fs)" ng-disabled="!room.inCall" popover-append-to-body="true"></button>
        <video id="remoteFSVideo" autoplay poster="../asset/stand.jpg" class="rfs">Kein Video verfügbar! Bitte nutzen Sie einen anderen Browser.</video>
        <div class="localcont">
            <video id="localFSVideo" autoplay poster="../asset/stand.jpg" class="fsVideo"> Kein Video verfügbar!</video>
        </div>
    </div>
</div>