<!DOCTYPE html>
<html ng-app="chatApp">

<head>
   <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
    
<body>
    
    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand myLogo" href="#">Online Sprechstunde</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
                <img src="asset/tomedo_logo.png" height="50"  style="display: inline-block;">
                <span style="display: inline-block;"></span>
          </ul>
            <ul class="nav navbar-nav navbar-right">
            <!--Add dropdown menu as connection shortcut!-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Set Peer Id</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Change Name</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-transfer"></span>Send File</a></li>
            </ul>
        </li>
            <img src="asset/zollsoft--small.png" height="50">
            </ul>
        </div>
      </div>
    </nav>
    
    <div ng-controller="ChatCtrl as chat">
    <div ng-cloak ng-show="chat.noMedia">
        <div class="alert alert-danger" role="alert">Can't stream Video because getUserMedia is not available in your browser. Please use Firefox or Chrome!
        </div>
    </div>
    <div ng-cloak ng-show="chat.noCamera">
        <div class="alert alert-danger" role="alert">Access to camera was not granted. Please reload your browser and press allow when asked for permission!
        </div>
    </div>    
    
    <!--Row for camera display and chat!-->    
    <div class="container" ng-cloak ng-show="!chat.noMedia">
    <div class="row">
        <div class="col-md-8 stackem">
            <div class="jumbotron">
            <div class="embed-responsive embed-responsive-4by3">
                <div ng-show="chat.canCall">
                   <div class="input-group">
                        <input type="text" class="form-control" placeholder="Call user id..." ng-model="chat.peerId">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-click="chat.sendRequest()" ng-disabled="!chat.canCall"><span class="glyphicon glyphicon-earphone fa-2x"></span></button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <div ng-show="chat.inCall">
                    <video id="remoteVideo" autoplay controls>Your Browser does not support video.</video>  
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" ng-click="chat.hangUp()" ng-disabled="!chat.inCall">End Call</button>
                    </div>
                </div>
            </div>
            <h2>Photo</h2>
            <canvas id="photo"></canvas>
            <div id="incoming">
            <h2>Incoming Photos</h2>
            <div id="trail"></div>
            </div>
        </div>
        </div>
        <div class="col-md-4">
            <div class="embed-responsive embed-responsive-4by3">
                <div ng-show="chat.gumedia"> 
                    <button type="button" style="position:absolute; top:25%; left:25%;"class="btn btn-primary btn-lg center-block" ng-click="chat.getLocalVideo()">Start Camera</button>
                </div>
                <div ng-show="!chat.gumedia">
                    <video id="localVideo" autoplay muted controls class="localVideo">Your Browser does not support video.</video>
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-primary" ng-click="chat.snapPhoto()" ng-disabled="!chat.canPhoto">Snap</button>
                        <button type="button" class="btn btn-primary" ng-click="chat.sendPhoto()" ng-disabled="!chat.picSendReady">Send Photo</button>
                    </div>
                </div>
            </div>
            <br>
            <div>
            <form fix-bottom="chat" ng-submit="chat.addMessage()">
            <div id="chat" class="chatBox" style="height:310px; overflow-y:scroll">
                <table class="table">
                    <tbody>
                    <tr ng-repeat="msg in chat.messages ">
                        <td><strong>{{msg.sender}} : </strong>

                        {{msg.message}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
                <input type="text" ng-model="chat.message" class="form-control" placeholder="Enter a Message ">
                <button class="btn btn-primary btn-s" type="submit" ng-hide="true">Submit</button>
            </form>
            </div>
        </div>
    </div>   
    </div>
        <br>
        <br>
        <div ng-show="!noMedia">
            <input type="text" placeholder="Set your id..." ng-model="chat.ownId">
            <button type="button" class="btn btn-primary" ng-click="chat.makeId()">Set Peer Id</button>
        </div>
        <p>Peer ID: {{chat.setId}}</p>
        <div>
            <h2>Usernames:</h2>
            <ul>
                <li ng-repeat="user in chat.userNames track by $index">{{user}}</li>
            </ul>
        </div>
        <div>
            <h2>Peer Ids:</h2>
            <ul>
                <li ng-repeat="ids in chat.pids track by $index">{{ids}}</li>
            </ul>
        </div>
        
        <input type="checkbox" ng-model="showDialog"> Show
    <div modal-show="chat.inCall" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>New Connection&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/adapter.js"></script>
    <script src="app.js"></script>
    <script src="chat.js"></script>
    <script src="chatDirective.js"></script>
    <script src="scroll.js"></script>
    <script src="modal.js"></script>
    <script src="socket.js"></script>
</body>    
</html>