<!DOCTYPE html>
<html ng-app="chatApp">

<head>
   <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-XYCjB+hFAjSbgf9yKUgbysEjaVLOXhCgATTEBpCqT1R3jvG5LGRAK5ZIyRbH5vpX" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
    
<body>
<div ng-cloak ng-controller="MainCtrl">
    <nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand myLogo">Online Sprechstunde</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
                <img src="asset/tomedo_logo.png" height="50"  style="display: inline-block;">
                <span style="display: inline-block;"></span>
          </ul>
        <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
            <ul class="dropdown-menu dru">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Id..." ng-model="main.ownId">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="main.makeId()">Set Peer Id</button>
                    </span>
                </div><!-- /input-group -->
                <li role="separator" class="divider"></li>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="Name..." ng-model="main.newName">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="main.setName()">Set Name</button>
                    </span>
                </div><!-- /input-group -->
                <li role="separator" class="divider"></li>

                <div class="input-group input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            <span class="glyphicon glyphicon-folder-open"></span> <input type="file" style="display: none;" multiple custom-on-change="main.upload">
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly placeholder="<filename>" ng-model="main.fname">
                </div><!-- /input-group -->
                 <li role="separator" class="divider"></li>
                <button type="button" class="btn btn-primary btn-block" ng-click="main.sendFile()" ng-disabled="!main.inCall"><span class="glyphicon glyphicon-transfer"></span>Send</button>
            </ul>
        </li>
            <img src="asset/zollsoft--small.png" height="50">
        </ul>
        </div>
      </div>
    </nav>

    <!----------load specific html files for other urls---->
    <div ng-view></div>
</div>
    <script src="lib/angular-route.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/adapter.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="main/mainController.js"></script>
    <script src="main/modalDirective.js"></script>
    <script src="main/modalService.js"></script>
    <script src="chat/chatController.js"></script>
    <script src="chat/chatDirective.js"></script>
    <script src="photo/photoService.js"></script>
    <script src="photo/thumbDirective.js"></script>
    <script src="room/roomController.js"></script>
    <script src="signaling/peerService.js"></script>
    <script src="signaling/signalingService.js"></script>
    <script src="socket/socketFactory.js"></script>
    <script src="chat/onChangeDirective.js"></script>
    <script src="chat/scrollDirective.js"></script>
    <script src="room/routeService.js"></script>
</body>    
</html>